<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
     <%= render 'follow_form' if user_signed_in? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <% if @user.microposts.any? %>
     <% @user.microposts.each do |post| %>
  <a href="/microposts/<%= post.id %>"><%= post.content %></a>
  <a href="/microposts/<%= post.id %>"><%= image_tag post.img.url if post.img? %></a>
  <hr>
<% end %>
    <% end %>
  </div>
</div>

